.App {
  display: flex;
  min-height: 100vh;
  font-size: 26px;
}

.App textarea {
  width: 50%;
  padding: 10px;
  background-color: #fff;
  font-size: 26px;
}

.App .preview {
  padding: 10px;
  width: 50%;
  background-color: #fcfcfc;
}
